<div class="row">
    <div class="col-12">
        <img style="max-height: 230px;" src="{{recipe.image}}" [alt]="recipe.name" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button class="btn btn-warning" (click)="toEditRecipe()">Edit Recipe</button>
            <button class="btn btn-danger" (click)="onDelete()">Delete Recipe</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <strong>{{recipe.description}}</strong>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <button class="btn btn-success" (click)="onAddToShoppingList()">Add to Shopping-List</button>
            <br>
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                <em>{{ingredient.name}} - ({{ingredient.amount}})</em>
            </li>
        </ul>
    </div>
</div>